.application{
  display: block;
  margin: 10px;
  padding: 3px;
  font-size: 20px;
  color: white;
  background-color: rgba(0,0,0,0);
  box-shadow: -5px 5px rgba(255,255, 255, .5);
  border-width: 0px;
  transition: .2s;
}

.application:hover, .application:focus{
  /* transform: scale(1.1); */
  box-shadow: -5px 5px rgba(255,255, 255, 1);
  outline: none;
}

.firstName {
  position: absolute;
  top: 200px;
}

.lastName {
  position: absolute;
  top: 600px;
}

.email {
  position: absolute;
  top: 1000px;
}

.city {
  position: absolute;
  top: 1400px;
}

.state {
  position: absolute;
  top: 2000px;
}

.primaryPhone {
  position: absolute;
  top: 2400px;
}

.dateOfBirth {
  position: absolute;
  top: 3000px;
}

.employed {
  position: absolute;
  top: 3600px;
}

.paymentFrequency {
  position: absolute;
  top: 4400px;
}

.annualIncome {
  position: absolute;
  top: 5000px;
}

.monthlyNetIncome {
  position: absolute;
  top: 5600px;
}

.application-submit {
  position: absolute;
  top: 3400px;
}
.financial-submit {
  position: absolute;
  top: 6000px;
}

.disabledButton{
  display: none;

}
