.loan-application {
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.application{
  width: 30%;
  margin: 10px;
  padding: 3px;
  /* margin-top:50vh; */
  font-size: 20px;
  color: rgba(75,75, 75, 1);
  background-color: rgba(0,0,0,0);
  box-shadow: -5px 5px rgba(255,255, 255, .5);
  border-width: 0px;
  transition: .2s;
}

.application:hover, .application:focus{
  box-shadow: -5px 5px rgba(255,255, 255, 1);
  outline: none;
}


.btn {
  background-color: rgb(114 169 238);
  font-size: 1.1rem;
  padding: 20;
  cursor: pointer;
  transition: 0.2s
}

.btn:hover{
  transform: scale(2.1);
  box-shadow: 2px 2px rgba(125,125, 125, 1);
}


.firstName {
  grid-column-start: col-start 2;
}

.lastName {
  grid-area: c2r1;
}

.email {
  grid-area: c3r1;
}

.city {
  grid-area: c1r2;
}

.state {
  grid-area: c2r2;
}

.primaryPhone {
  grid-area: c1r3;
}

.dateOfBirth {
  grid-area: c1r3;
}

.employed {
  grid-area: c1r4;
}

.paymentFrequency {
  grid-area: c2r4;
}

.annualIncome {
  grid-area: c1r5;
}

.monthlyNetIncome {
  grid-area: c2r5;
}

.financial-submit {
  grid-area: c2r6;
  /* margin-top: 200px; */
}

.disabledButton{
  display: none;
}
