.parallax-container {/* preserve-3d; */
  height: 100vh;
  overflow: scroll;
}

.parallax {
  perspective: 1px;
  transform-style: preserve-3d;
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template: 1fr / 1fr;
  grid-area: 'img';
  /* z-index: -1; */

}

.content-container {
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
}

.parallax-layer {
  position: relative;
  transform-style: inherit;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background: 50% 50% / cover;
  grid-area: img;
}

.parallax-layer:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 50% 50% / cover;
}

.layer1:after {
  background-image: url('/images/mountainside/mtn_trees.png');
  transform: translateZ(-2px) scale(4);
  z-index: -1;
}

.layer2:after {
  transform: translateZ(-3px) scale(6);
  background-image: url('/images/mountainside/mtn_foreground_mtns.png');
  z-index: -2;
}

.layer3:after {
  background-image: url('/images/mountainside/mtn_background_mtns.png');
  transform: translateZ(-4px) scale(8);
  z-index: -3;
}

.layer4:after {
  background-image: url('/images/mountainside/mtn_sky.png');
  transform: translateZ(-5px) scale(10);
  z-index: -4;
}

